.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1386px;
    height: 112px;
    padding: 20px 100px 20px 100px;
}

.navigate {
    display: flex;
    justify-content: space-around;
    color: var(--gl-color);
    font-size: 32px;
}

p {
    padding: 0 20px 0 20px;
    font-family: "Roboto", sans-serif;
}

.title-container {
    height: 56px;
    top: 197px;
    left: 135px;
    width: 445px;
    color: white;
    font-weight: 700;
    font-size: 48px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 48px;
}
