.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1386px;
    height: 112px;
    padding: 20px 100px 20px 100px;
}

.navigate {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    cursor: pointer;


    a {
        padding: 0 20px 0 20px;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: var(--gl-color);
    }
}





