.latest-posts {
    width: 296px;
    height: 56px;
    margin: 50px 0 0 120px;
    display: flex;
}

.button {
   float: right;
    width: 206px;
    height: 44px;
    display: flex;
   margin-right: 90px;
    margin-top: -40px;
    cursor: pointer;
}

.all-posts {
    font-family: var(--main-font);
    color: var(--gl-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

.arrow {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-top: -4px;

}

.material-symbols-outlined {
    color: var(--gl-color);
    font-size: 34px !important;
}


.posts {
    display: flex;
 margin-left: 55px;



}

.post-first {
    width: 369px;
    height: 518px;
    border-radius: 20px;
    background: #1E293B66;
    margin: 70px 0 0 120px;
}

.imagine {
    width: 369px;
    height: 293px;
    border-radius: 20px 20px 0 0;
}

.text-post {
    font-family: var(--main-font);
    color: var(--gl-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
}

.data {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(203, 213, 225, 0.5);
    font-family: var(--main-font);
    margin-top: 10px;
}

.second-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--gl-color);
}

.block-text {
    margin-top: 20px;
}

.post-second {
    width: 369px;
    height: 518px;
    border-radius: 20px;
    background: #1E293B66;
    margin: 70px 0 0 20px;
}

.post-third {
    width: 370px;
    height: 518px;
    border-radius: 20px;
    background: #1E293B66;
    margin: 70px 0 0 20px;
}

.newsletters {
    padding: 120px 0 0 120px;
}

.newsletters-p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(203, 213, 225, 1);
    padding: 0 0 0 120px;
}


.button-subscribe {
    white-space: nowrap;
    display: flex;
    width: 522px;
    height: 70px;
    border-radius: 30px;
    background: rgba(30, 41, 59, 1);
    margin-left: 870px;
    margin-top: -100px;
}

.email {
    width: 180px;
    height: 24px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(203, 213, 225, 1);
    padding: 23px 0 0 42px;
}

.subscribe {
    width: 164px;
    height: 46px;
    border-radius: 30px;
    background: linear-gradient(#22D3EE,#0EA5E9);
    margin: 12px 0 0 160px;
    text-align: center;


}

.subscribe-p {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: rgba(30, 41, 59, 1);
    margin-top: 10px;





}

